body {
  color: #eee;
  /* padding: 12px; */
}
li {
  list-style: none;
}

.box {
  background-color: #210357;
  width: 40%;
  padding: 12px;
  border-radius: 8px;
}

.responseMessage {
  font-size: 18px;
  margin: 12px 0;
}

.searchResults {
  font-size: 16px;
  /* line-height: 2; */
}

.searchResults li {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eeeeee8f;
}

.addBtn {
  cursor: pointer;
  font-size: 22px;
  padding: 4px;
  background: none;
  border: none;
}
