.playlist {
  background-color: rgb(78, 4, 97);
  width: 40%;
  padding: 12px;
  border-radius: 8px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

button {
  text-transform: uppercase;
  background-color: #a50ca5;
  color: #fff;
  border: none;
  padding: 12px 20px;
}
